:root {
    --color-main: #5D43FF;
    --color-bg: #C9C0FF;
  }
  
body{background-color: var(--color-bg)!important;}


.btx{line-height: normal;padding:12px 16px;display:inline-block;border-radius:8px;font-weight:600;transition:.3s all ease-in-out}
.btx span{padding-right:4px}
.btx-primary{background: var(--color-main);color: #fff;border: 1px solid var(--color-main);}
.btx-primary:hover{background: transparent;color: var(--color-main);border: 1px solid var(--color-main);}
.btx-trans{background:transparent;color:var(--color-main);border:1px solid var(--color-main)}
.btx-trans:hover{background:var(--color-main);color:#fff;border:1px solid var(--color-main)}

.navbar-main{background-color: #fff;}

.table{color:black!important}
.table>thead{background: var(--color-main);}
.table td{padding: 1rem 0 !important;}

.head-text{padding:0;display: flex;justify-content: space-between;margin-bottom: 24px;align-items: center;}
.head-text h1{font-size:30px;text-align:center;color:var(--color-main);align-items: center;}

.form-control{border: 1px solid #A899FF!important;border-radius: .5rem!important;}
.form-control:focus{border-color: #A899FF!important; box-shadow: 0 0 0 2px #5d43ff75!important;}

@media (max-width:768px){
  .mobhide{display:none}
}